.itemList{
    margin: 50px;
    border-radius: 5px;
    width: 35vw;
    box-shadow: 0 5px 20px 3px #EEF1F7;
    
}

.items{
    /* min-height: 100%; */
    /* width: 100%; */
    overflow-y: visible;
    /* overflow-y: scroll; */
}


#title-desc{
    display: grid;
    flex: 30%;
    /* place-items: center; */
}
  
#score {
    flex: 70%;
    font-weight: 600;
    color: #43A15C;
    /* font-size: xx-large; */
  }
#title{
    font-size: x-large;
    font-weight: 650;
}

#description{

    float: left;
    width: 100%;
}

ul{
    list-style-type: none;
}

.items li{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 40vw;
    /* height: 50px; */
    /* list-style-type: none; */
    /* margin: 0%; */
    flex-direction: row;
    /* color: #C8CFDA; */
    justify-content: center;
    align-items: center; 
    /* font-weight: 500; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  
  }

.item:after {
    content: " ";
    display: block;
    border-top: 2px solid #F5F6F8;
    border-bottom: 2px solid #F5F6F8;
    border-radius: 2px;
}